{% extends 'root.html.twig' %}
{% block title %}Index{% endblock %}
{% block content %}
	<section class="container-fluid pb-5 mb-5">
  		<form class="d-flex" action="/books" method="GET">
	  		<div class="container-fluid">
				<h1 class="mt-2 pb-2 pt-2">Search!</h1>
				
    	  		<div class="row">
        	  		<div class="col">
        		        <input class="form-control" autocomplete="off" type="text" 
        		        name="intitle" placeholder="Title" aria-label="Title">
    		        </div>
    		        
    		        <div class="col">
        		        <input class="form-control" autocomplete="off" type="text" 
        		        name="inauthor" placeholder="Author" aria-label="Author">
    		        </div>
    		        
		        </div>
		        <div class="row">
    		        <div class="col mt-2">
                        <input class="form-control" autocomplete="off" type="text" 
                        name="inpublisher" placeholder="Publisher" aria-label="Author">
                    </div>
                    
                    <div class="col mt-2">
                        <input class="form-control" autocomplete="off" type="text" 
                        name="subject" placeholder="Category e.g. Fiction" aria-label="Subject">
                    </div>
                    
                    <div class="col mt-2">
        		        <input class="form-control" autocomplete="off" type="text" 
        		        name="isbn" placeholder="ISBN (Author or Title must be filled too)" aria-label="Isbn">
    		        </div>
    		        
    		        <div class="pt-2">
        	        	<button class="btn btn-outline-success" type="submit">Search</button>
    	        	</div>
    	        </div>
      	</form>
	</section>
	
{% endblock %}